# Assignment 1
Load and explore the data set, leaving a subset of data separate from the exploration to avoid overfitting.

In [12]:
import pandas as pd

In [13]:
data=pd.read_csv("Labelled_dataset_csv (1) (1).csv")

/var/folders/md/y8hp6ypj0_n_sbydxqz4gcq00000gn/T/ipykernel_1341/803543530.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv("Labelled_dataset_csv (1) (1).csv")

In [14]:
data

,X,Y,Z,EDA,HR,TEMP,id,datetime,label
0,-13.0,-61.0,5.0,6.769995,99.43,31.17,15,2020-07-08 14:03:00.000000000,2.0
1,-20.0,-69.0,-3.0,6.769995,99.43,31.17,15,2020-07-08 14:03:00.031249920,2.0
2,-31.0,-78.0,-15.0,6.769995,99.43,31.17,15,2020-07-08 14:03:00.062500096,2.0
3,-47.0,-65.0,-38.0,6.769995,99.43,31.17,15,2020-07-08 14:03:00.093750016,2.0
4,-67.0,-57.0,-53.0,6.769995,99.43,31.17,15,2020-07-08 14:03:00.124999936,2.0
...,...,...,...,...,...,...,...,...,...
11509046,-16.0,-56.0,24.0,3.386070,88.37,33.77,F5,2020-07-23 17:28:59.875000064,2.0
11509047,-8.0,-50.0,27.0,3.386070,88.37,33.77,F5,2020-07-23 17:28:59.906249984,2.0
11509048,-28.0,-36.0,28.0,3.386070,88.37,33.77,F5,2020-07-23 17:28:59.937499904,2.0
11509049,-29.0,-29.0,30.0,3.386070,88.37,33.77,F5,2020-07-23 17:28:59.968750080,2.0
11509050,-22.0,-24.0,29.0,3.374543,88.33,33.75,F5,2020-07-23 17:29:00.000000000,2.0

In [15]:
# Explore the data set
print(data.head())
print(data.info())
print(data.describe())

      X     Y     Z       EDA     HR   TEMP  id  \
0 -13.0 -61.0   5.0  6.769995  99.43  31.17  15
1 -20.0 -69.0  -3.0  6.769995  99.43  31.17  15
2 -31.0 -78.0 -15.0  6.769995  99.43  31.17  15
3 -47.0 -65.0 -38.0  6.769995  99.43  31.17  15
4 -67.0 -57.0 -53.0  6.769995  99.43  31.17  15

                        datetime  label
0  2020-07-08 14:03:00.000000000    2.0
1  2020-07-08 14:03:00.031249920    2.0
2  2020-07-08 14:03:00.062500096    2.0
3  2020-07-08 14:03:00.093750016    2.0
4  2020-07-08 14:03:00.124999936    2.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11509051 entries, 0 to 11509050
Data columns (total 9 columns):
 #   Column    Dtype
---  ------    -----
 0   X         float64
 1   Y         float64
 2   Z         float64
 3   EDA       float64
 4   HR        float64
 5   TEMP      float64
 6   id        object
 7   datetime  object
 8   label     float64
dtypes: float64(7), object(2)
memory usage: 790.3+ MB
None
                  X             Y             Z           EDA            HR  \
count  1.150905e+07  1.150905e+07  1.150905e+07  1.150905e+07  1.150905e+07
mean  -2.823775e+01 -9.091032e-01  2.382449e+01  3.502127e+00  8.576090e+01
std    3.142310e+01  3.343382e+01  2.985317e+01  5.656541e+00  1.419642e+01
min   -1.280000e+02 -1.280000e+02 -1.280000e+02  0.000000e+00  5.100000e+01
25%   -5.200000e+01 -1.900000e+01  4.000000e+00  2.242060e-01  7.672000e+01
50%   -3.300000e+01  1.000000e+00  2.500000e+01  1.157407e+00  8.390000e+01
75%   -1.400000e+01  1.700000e+01  4.900000e+01  4.077436e+00  9.310000e+01
max    1.270000e+02  1.270000e+02  1.270000e+02  5.976071e+01  1.802300e+02

               TEMP         label
count  1.150905e+07  1.150905e+07
mean   3.223435e+01  1.554202e+00
std    2.260516e+00  7.891827e-01
min    2.409000e+01  0.000000e+00
25%    3.019000e+01  1.000000e+00
50%    3.257000e+01  2.000000e+00
75%    3.425000e+01  2.000000e+00
max    3.659000e+01  2.000000e+00

In [16]:
# Split the data into exploration and validation subsets
from sklearn.model_selection import train_test_split

exploration_data, validation_data = train_test_split(data, test_size=0.2, random_state=42)

### Clean and preprocess the data set.

In [17]:
# Check for missing values
print(data.isnull().sum())

X           0
Y           0
Z           0
EDA         0
HR          0
TEMP        0
id          0
datetime    0
label       0
dtype: int64

In [18]:
# Drop any rows with missing values
data = data.dropna()

In [19]:
# Check for duplicate rows
print(data.duplicated().sum())

105606

In [20]:
# Drop any duplicate rows
data = data.drop_duplicates()

In [21]:
# Convert the datetime column to a datetime object
data['datetime'] = pd.to_datetime(data['datetime'])

In [22]:
# Check the data types of the columns
print(data.dtypes)

X                  float64
Y                  float64
Z                  float64
EDA                float64
HR                 float64
TEMP               float64
id                  object
datetime    datetime64[ns]
label              float64
dtype: object

In [23]:
# Convert the id column to a categorical variable
data['id'] = data['id'].astype('category')

In [24]:
# Check the summary statistics of the numerical columns
print(data.describe())

                  X             Y             Z           EDA            HR  \
count  1.140344e+07  1.140344e+07  1.140344e+07  1.140344e+07  1.140344e+07
mean  -2.829194e+01 -1.097633e+00  2.394380e+01  3.508278e+00  8.576225e+01
std    3.141358e+01  3.329231e+01  2.987100e+01  5.679268e+00  1.422819e+01
min   -1.280000e+02 -1.280000e+02 -1.280000e+02  0.000000e+00  5.100000e+01
25%   -5.200000e+01 -1.900000e+01  4.000000e+00  2.203620e-01  7.668000e+01
50%   -3.300000e+01  1.000000e+00  2.600000e+01  1.140957e+00  8.390000e+01
75%   -1.400000e+01  1.700000e+01  4.900000e+01  4.067910e+00  9.313000e+01
max    1.270000e+02  1.270000e+02  1.270000e+02  5.976071e+01  1.802300e+02

               TEMP         label
count  1.140344e+07  1.140344e+07
mean   3.224959e+01  1.552936e+00
std    2.260318e+00  7.914698e-01
min    2.409000e+01  0.000000e+00
25%    3.021000e+01  1.000000e+00
50%    3.259000e+01  2.000000e+00
75%    3.427000e+01  2.000000e+00
max    3.659000e+01  2.000000e+00

In [25]:
print(data.corr())

              X         Y         Z       EDA        HR      TEMP     label
X      1.000000  0.061378  0.197679  0.096056  0.128854  0.026448 -0.009016
Y      0.061378  1.000000  0.019268 -0.094499 -0.066294 -0.079620 -0.024973
Z      0.197679  0.019268  1.000000  0.006093 -0.104408 -0.031794 -0.058929
EDA    0.096056 -0.094499  0.006093  1.000000  0.141676  0.352223  0.054456
HR     0.128854 -0.066294 -0.104408  0.141676  1.000000  0.156965 -0.030715
TEMP   0.026448 -0.079620 -0.031794  0.352223  0.156965  1.000000  0.138786
label -0.009016 -0.024973 -0.058929  0.054456 -0.030715  0.138786  1.000000

# Assignment 2

In [26]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [27]:

# Load the dataset
data = pd.read_csv("Labelled_dataset_csv (1) (1).csv")

/var/folders/md/y8hp6ypj0_n_sbydxqz4gcq00000gn/T/ipykernel_1341/3197969852.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("Labelled_dataset_csv (1) (1).csv")

In [34]:
data.describe()

,X,Y,Z,EDA,HR,TEMP,label
count,1.150905e+07,1.150905e+07,1.150905e+07,1.150905e+07,1.150905e+07,1.150905e+07,1.150905e+07
mean,-2.823775e+01,-9.091032e-01,2.382449e+01,3.502127e+00,8.576090e+01,3.223435e+01,1.554202e+00
std,3.142310e+01,3.343382e+01,2.985317e+01,5.656541e+00,1.419642e+01,2.260516e+00,7.891827e-01
min,-1.280000e+02,-1.280000e+02,-1.280000e+02,0.000000e+00,5.100000e+01,2.409000e+01,0.000000e+00
25%,-5.200000e+01,-1.900000e+01,4.000000e+00,2.242060e-01,7.672000e+01,3.019000e+01,1.000000e+00
50%,-3.300000e+01,1.000000e+00,2.500000e+01,1.157407e+00,8.390000e+01,3.257000e+01,2.000000e+00
75%,-1.400000e+01,1.700000e+01,4.900000e+01,4.077436e+00,9.310000e+01,3.425000e+01,2.000000e+00
max,1.270000e+02,1.270000e+02,1.270000e+02,5.976071e+01,1.802300e+02,3.659000e+01,2.000000e+00

In [36]:
data.corr()

              X         Y         Z       EDA        HR      TEMP     label
X      1.000000  0.067204  0.197295  0.093888  0.126070  0.022847 -0.008351
Y      0.067204  1.000000  0.019084 -0.096138 -0.068020 -0.084576 -0.022143
Z      0.197295  0.019084  1.000000  0.005993 -0.104191 -0.029366 -0.058655
EDA    0.093888 -0.096138  0.005993  1.000000  0.142542  0.352888  0.053214
HR     0.126070 -0.068020 -0.104191  0.142542  1.000000  0.158172 -0.032983
TEMP   0.022847 -0.084576 -0.029366  0.352888  0.158172  1.000000  0.135259
label -0.008351 -0.022143 -0.058655  0.053214 -0.032983  0.135259  1.000000

In [28]:
# Preprocess the dataset
scaler = StandardScaler()
X = data[['X', 'Y', 'Z', 'EDA', 'HR', 'TEMP']]
X = scaler.fit_transform(X)
y = data['label'].apply(lambda x: 1 if x == 1 else 0) # Convert the labels to binary

In [29]:

# Split the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [30]:
# Train the model
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [31]:

# Evaluate the model
y_pred = clf.predict(X_test)
acc = accuracy_score(y_test, y_pred)
cm = confusion_matrix(y_test, y_pred)

In [32]:
print("Accuracy:", acc)
print("Confusion matrix:\n", cm)

Accuracy: 0.9982066294756606
Confusion matrix:
 [[2140713     245]
 [   3883  156970]]

In [33]:
print("Accuracy: {:.2f}%".format(acc * 100))

Accuracy: 99.82%